/* Fonts (Ellograph CF by Connary Fagen) */

@font-face {
    font-family: 'ellograph-cf';
    src: url('https://rachaelthemes.github.io/tumblr/fonts/ellograph-cf-200.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'ellograph-cf';
    src: url('https://rachaelthemes.github.io/tumblr/fonts/ellograph-cf-200-italic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'ellograph-cf';
    src: url('https://rachaelthemes.github.io/tumblr/fonts/ellograph-cf-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ellograph-cf';
    src: url('https://rachaelthemes.github.io/tumblr/fonts/ellograph-cf-300-italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'ellograph-cf';
    src: url('https://rachaelthemes.github.io/tumblr/fonts/ellograph-cf-400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ellograph-cf';
    src: url('https://rachaelthemes.github.io/tumblr/fonts/ellograph-cf-400-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ellograph-cf';
    src: url('https://rachaelthemes.github.io/tumblr/fonts/ellograph-cf-600.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ellograph-cf';
    src: url('https://rachaelthemes.github.io/tumblr/fonts/ellograph-cf-600-italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'ellograph-cf';
    src: url('https://rachaelthemes.github.io/tumblr/fonts/ellograph-cf-700.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ellograph-cf';
    src: url('https://rachaelthemes.github.io/tumblr/fonts/ellograph-cf-700-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Root */

:root {
    --pad0: 25px;
    --pad1: 50px;
    --pad2: 100px;
    --pad3: 200px;
    --text: #070908;
    --bg1: #ffffff;
    --bg2: #f6f8f5;
    --bg3: rgba(0,0,0,0.05);
    --gray: #acb0ae;
    --a1: #33cf90;
    --a2: #baf27d;
    --a3: rgba(51,207,145,0.15);
    --a4: rgba(186,242,125,0.15);
}

section.dark {
    --text: #ffffff;
    --bg1: #070908;
    --bg2: #101412;
    --bg3: rgba(255,255,255,0.05);
    --gray: #545c58;
    --a1: #baf27d;
    --a2: #33cf90;
    --a3: rgba(186,242,125,0.15);
    --a4: rgba(51,207,145,0.15);
}

section.gray {
    --bg1: #f6f8f5;
    --bg2: #ffffff;
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
	body {
        --text: #ffffff;
        --bg1: #070908;
        --bg2: #101412;
        --bg3: rgba(255,255,255,0.1);
        --gray: #545c58;
	}
    section.dark, section.gray {
        --bg1: #101412;
        --bg2: #070908;
        --a1: #baf27d;
        --a2: #33cf90;
        --a3: rgba(186,242,125,0.15);
        --a4: rgba(51,207,145,0.15);
    }
    .hero, aside.hero-image {
        background-image: url('https://rachaelthemes.github.io/tumblr/images/hero-light.svg') !important;
    }
}

/* Body */

body {
    margin: 0;
    font: 16px/1.5em ellograph-cf, monospace;
    font-weight: 200;
    background: var(--bg1);
    color: var(--text);
}

/* Links */

a, a::before, a::after, a > *, a > * > * {
    text-decoration: none;
    color: inherit;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

a.deactivated { 
    cursor: default !important; 
}

a.button {
    white-space: nowrap;
    padding: 6px 15px;
    background: transparent;
    border-radius: 6px;
    color: var(--text);
    border: 3px var(--text) solid;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
}

a.button:hover {
    color: var(--a1);
    border-color: var(--a1);
}

/* Headings */

h1, h2, h3, h4, h5{
    margin: 0;
    font-weight: 300;
    line-height: 1.4em;
}

h1, h2, h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.375rem;
}

h5 {
    font-size: 1.25em;
}

/* Other Inline Code */

pre { 
    white-space: pre-wrap; 
    word-wrap: break-word; 
    margin: 1em 0;
}

code, 
kbd, 
pre, 
samp { 
    font-family: monospace, serif; 
    font-size: 1em; 
}

hr {
    border: none;
    height: 3px;
    border-radius: 3px;
    background: var(--gray);
    margin: var(--pad2) 0;
}

/* Lists */

ul {
    padding-inline-start: 32px !important;
}

ul li {
    padding-left: 8px;
}

/* Hide Tumblr Stuff */

.tmblr-iframe, .follow-teaser {
    display: none !important;
}

/* Load Screen */

#screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: var(--bg1);
}

/* Main Container */

main {
    position: absolute;
    top: 0;
    margin: 0 var(--pad2);
    width: calc(100% - var(--pad3));
}

/* Header */

header {
    background: var(--bg1);
    top: 0;
    position: sticky;
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - var(--pad3));
    margin: calc(var(--pad0) + 5px) 0;
    padding: calc(var(--pad0) - 5px) var(--pad2);
}

/* Header Logo */

a.logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1.375em;
    font-weight: 600;
    padding: 5px;
    margin-left: -5px;
}

.logo svg {
    width: 32px;
    margin-right: 25px;
}

a.logo .a1, a.logo .a2 {
    fill: var(--text);
}

a.logo:hover svg {
    transform: rotate(-10deg);
}

a.logo:hover .a1 {
    fill: var(--a1);
}

a.logo:hover .a2 {
    fill: var(--a2);
}

/* Header Navigation */

nav a {
    display: inline-block;
    margin-left: var(--pad0);
    padding: 8px 10px;
    font-size: 1.125em;
    font-weight: 400;
}

nav a:hover {
    color: var(--a1);
}

nav a:not(.follow):not(#mobile-open):after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background: var(--text);
    margin: 8px 0 -8px 0;
}

nav a:not(.follow):not(#mobile-open):hover:after {
    background: var(--a1);
    width: 100%;
}

nav a.follow {
    padding: 6px 15px;
    background: transparent;
    border-radius: 6px;
    border: 3px var(--text) solid;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    margin-left: calc(var(--pad0) / 2 * 3);
}

nav a.follow:hover {
    color: #fff;
    background: var(--a1);
    border-color: var(--a1);
}

/* Mobile Navigation */

#mobile-open {
	display: none;
	font-size: 2.375em;
	line-height: 1em;
	cursor: pointer;
	margin-right: -12px;
}

#mobile-nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 2;
	background: var(--bg1);
	display: none;
}

#mobile-close {
    cursor: pointer;
	position: fixed;
	top: var(--pad1);
	right: var(--pad2);
    padding: 8px 10px;
    font-size: 2.375em;
    line-height: 1em;
    margin-top: -2px;
    margin-right: -5px;
}

#mobile-nav nav {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#mobile-nav nav a {
	color: var(--text);
	margin: 15px 0;
	font-size: 1.5em;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1.5px;
}

#mobile-nav nav a:hover {
    color: var(--a1);
}

/* Sections */

section {
    padding: var(--pad2);
    border-radius: 10px;
    background: var(--bg1);
    color: var(--text);
}

/* Homepage Hero */

.hero {
    width: calc(100% - var(--pad3));
    padding: var(--pad2);
    border-radius: 10px;
    background: var(--bg2);
    background-image: url('https://rachaelthemes.github.io/tumblr/images/hero-dark.svg');
    background-size: 32%;
    background-position: 94% 8%;
    background-repeat: no-repeat;
}

.hero-left {
    width: 65%;
}

h1.hero-title {
    margin: -5px 0 0 0;
    font-size: 2.875vw;
    font-weight: 300;
}

h1.hero-title b {
    color: var(--a1);
}

.hero-subtitle {
    margin: var(--pad1) 0 5px 0;
    font-size: 1em;
    line-height: 1em;
    color: var(--gray);
}

/* Homepage Updates */

section#updates {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.section-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 26px;
}

.section-title h2 {    
    font-size: 2em;
    line-height: 0;
    margin: 0 0 0 -4px;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    white-space: nowrap;
    word-spacing: -10px;
    color: var(--a1);
}

a.update {
    width: calc((100% / 3) - var(--pad2) - 46px - (26px / 3));
    border: 3px var(--text) solid;
    border-radius: 10px;
    padding: 0 calc(var(--pad0) + 20px) calc(var(--pad0) + 20px);
}

a.update .u-date {
    float: right;
    background: var(--bg1);
    border: 3px var(--text) solid;
    border-radius: 6px;
    padding: 3px 11px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875em;
    margin-top: -20px;
    margin-right: calc(var(--pad0) * -1);
}

a.update h5 {
    font-weight: 700;
    margin: calc(var(--pad0) + 15px) 0 0;
    word-break: break-word;
}

a.update:hover, a.update:hover .u-date {
    border-color: var(--a1);
}

a.update:hover .u-date {
    color: var(--a1);
}

a.update p {
    margin-bottom: -8px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* Themes Section */

section#newtheme {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

section#newtheme .section-title h2 {
    color: var(--a2);
}

.theme-viewer {
    width: 50%;
    line-height: 0;
}

.theme-header {
    height: 10px;
    padding: 10px;
    background: var(--bg3);
    border-radius: 10px 10px 0 0;
}

.theme-circle {
    height: 10px;
    width: 10px;
    background: var(--a2);
    border-radius: 100%;
    display: inline-block;
}

.theme-circle:nth-child(1) {
    background: var(--a1);
}

.theme-container {
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.theme-container img {
    max-width: 100%;
}

.theme-details {
    width: calc(50% - var(--pad2));
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

h3.theme-title {
    margin: -10px 0 25px 0;
}

.theme-badge {
    float: right;
    text-transform: uppercase;
    font-weight: 700;
    word-spacing: -2px;
    color: var(--a1);
    background: var(--a3);
    padding: 2px 9px;
    border-radius: 6px;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 18px 0px -18px 20px;
}

p.theme-description {
    margin: 0 0 20px 0;
}

p.theme-updates {
    color: var(--gray);
    margin: 0 0 50px 0;
}

p.theme-updates b {
    font-weight: inherit;
    margin: 0 10px;
}

/* Footer Section */

section#footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 0.875em;
}

section#footer h4 {
    font-weight: 700;
    color: var(--a1);
    margin: 0 0 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

section#footer p {
    margin: 0;
    line-height: 1.7em;
}

.footer-text {
    width: calc(50% - 200px - var(--pad2));
}

.footer-links {
    width: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-links a {
    line-height: 1.7em;
}

.footer-links a::before {
    content: '';
    float: left;
    height: 4px;
    width: 4px;
    border-radius: 100%;
    background: var(--a2);
    margin: 10px 12px 0 2px;
}

.footer-links a:hover {
    color: var(--a2);
}

/* Page Footer */

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 calc(var(--pad2) * -1);
    padding: var(--pad0) var(--pad2);
    background: var(--bg2);
    color: var(--gray);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.875em;
}

footer b {
    font-weight: inherit;
    margin: 0 10px;
}

/* SCREEN SIZE */

@media (max-width: 1680px) {
	 :root {
        --pad0: 20px;
        --pad1: 40px;
        --pad2: 80px;
        --pad3: 160px;
	}
}

@media (max-width: 1480px) {
    :root {
        --pad0: 15px;
        --pad1: 30px;
        --pad2: 60px;
        --pad3: 120px;
    }
    a.update {
        width: calc((100% / 3) - var(--pad2) - 66px - (26px / 3));
    }
    
    a.update p {
        -webkit-line-clamp: 5;
    }
    .footer-text {
        width: calc(50% - 170px - var(--pad2));
    }
    .footer-links {
        width: 170px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (max-width: 1280px) {
    .hero {
        background-size: 43%;
        background-position: 106% 8%;
    }
    .hero-left {
        width: 55%;
    }
    h1.hero-title {
        font-size: 3.5vw;
    }
    .theme-viewer {
        width: 45%;
    }
    .theme-details {
        width: calc(55% - var(--pad2));
    }
    a.update {
        width: calc(50% - var(--pad2) - 66px - (26px / 2));
    }
	a.update:nth-child(4) {
	    display: none;
	}
    a.update p {
        -webkit-line-clamp: 3;
    }
    section#footer {
        flex-flow: row wrap;
        padding-bottom: 0;
        align-items: flex-start;
    }
    section#footer > div {
        margin-bottom: var(--pad2);
    }
    .footer-text {
        width: calc(100% - 380px - var(--pad2));
    }
    .footer-links {
        width: 330px;
        flex-flow: row wrap;
    }
    .footer-links h4 {
        width: 100%;
    }
    .footer-links a {
        width: 50%;
    }
    footer {
        flex-flow: column nowrap;
        padding: var(--pad1) var(--pad2);
        align-items: center;
        text-align: center;
    }
    .footer-left {
        margin-bottom: var(--pad0);
    }
}

@media (max-width: 980px) {
    main {
        width: 100%;
        margin: 0;
    }
    section, .hero {
	    border-radius: 0;
    }
    .hero {
        background-size: 44%;
        background-position: 109% 9%;
    }
    .hero-left {
        width: 60%;
    }
    h1.hero-title {
        font-size: 4.25vw;
    }
    a.update {
        width: calc(50% - var(--pad2) - 46px);
    }
    .section-title {
        display: none;
    }
    .theme-updates {
        display: none;
    }
    .footer-text {
        width: calc(100% - 270px - var(--pad2));
    }
    .footer-links {
        width: 220px;
        flex-flow: column nowrap;
    }
    .footer-links a {
        width: auto;
    }
    footer {
        margin: 0;
    }
}

@media (max-width: 880px) {
    header nav a:not(#mobile-open) {
        display: none;
    }
    #mobile-open {
        display: inline;
    }
}

@media (max-width: 780px) {
    .hero {
        background-image: none !important;
    }
    .hero-left {
        width: 100%;
    }
    h1.hero-title {
        font-size: 6.7vw;
    }
    section#updates {
        flex-flow: column nowrap;
    }
    a.update {
        width: calc(100% - var(--pad1) - 46px);
        margin-top: var(--pad2);
        -webkit-line-clamp: 3;
    }
    a.update:nth-child(2) {
        margin-top: 18px;
    }
    a.update:nth-child(4) {
        display: block;
    }
    a.update p {
        -webkit-line-clamp: 2;
    }
    section#newtheme {
        flex-flow: column nowrap;
    }
    .theme-viewer {
        width: 100%;
        margin-bottom: var(--pad2);
    }
    .theme-details {
        width: 100%;
    }
    section#footer {
        flex-flow: column nowrap;
    }
    .footer-text {
        width: 100%;
    }
    .footer-links {
        width: 100%;
        flex-flow: row wrap;
    }
    .footer-links a {
        width: 50%;
    }
}

@media (max-width: 480px) {
    :root {
        --pad0: 10px;
        --pad1: 20px;
        --pad2: 40px;
        --pad3: 80px;
    }
    h1.hero-title {
        font-size: 1.5em;
    }
    a.update p {
        -webkit-line-clamp: 4;
    }
    .footer-links {
        width: 220px;
        flex-flow: column nowrap;
    }
    .footer-links a {
        width: auto;
    }
}
