
/* Posts Section */

section#posts {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    background: var(--bg2);
    padding: var(--pad2) var(--pad1);
}

.sidebar, .posts {
    margin: 0 var(--pad1);
}

aside, article {
    background: var(--bg1);
    border-radius: 10px;
    box-shadow: 0 0 4px -3px var(--gray);
}

/* Posts Right Sidebar */

.sidebar {
    top: calc(42px + var(--pad1) + var(--pad2));
    position: sticky;
}

aside {
    width: 370px;
}

aside.posts-search {
    border-radius: 10px 10px 0 0;
}

aside.posts-search form input {
    padding: 30px 40px;
    font: 14px/1em ellograph-cf, monospace;
    font-weight: 200;
    color: var(--text) !important;
    width: calc(100% - 80px);
    border-radius: 10px 10px 0 0;
    border: none;
    border-bottom: 1px var(--bg2) solid;
    background: var(--bg1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  color: var(--text);
  -webkit-text-fill-color: var(--text);
}

aside.posts-search form input::placeholder {
    color: var(--gray);
    opacity: 1;
}

aside.posts-search form input:focus-visible {
    outline: none !important;
}

aside.hero-image {
    background-image: url(https://rachaelthemes.github.io/tumblr/images/hero-dark.svg);
    background-size: 50%;
    background-position: 92% 220%;
    background-repeat: no-repeat;
    height: 330px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
}

h2.hero-title {
    margin: 30px 50px 0 40px;
    font-size: 1.35em;
    font-weight: 300;
}

h2.hero-title b {
    color: var(--a1);
}

aside.hero-image .hero-subtitle {
    margin: 0 40px 40px;
    font-size: 0.875em;
}

/* Article */

article {
    width: 700px;
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: var(--pad2);
}

.post-reblog-item a, .post-caption a {
    border-bottom: 1px var(--text) solid;
    padding-bottom: 2px;;
}

/* Post Header */

.post-header {
    padding: 22px 30px;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px var(--bg2) solid;
}

.post-header-icon {
    width: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.post-header-info {
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--gray);
}

.post-header-info b {
    font-weight: inherit;
    margin: 0 5px;
}

/* Reblog Chains */

.post-reblog-item {
    padding: 30px 30px 0;
    border-top: 1px var(--bg2) solid;
}

.post-reblog-item:first-child {
    border-top: none;
}

.reblog-item-avatar img {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    float: left;
    margin-right: 12px;
}

.reblog-item-username { 
    height: 32px;
    font-weight: 700; 
    line-height: 32px;
}

.reblog-item-username a { 
    color: var(--text);
    text-decoration: none; 
}

.reblog-item-username .deactivated { 
    cursor: default; 
}

.post-reblog-item figure, .post-caption figure {
    margin: 4px 0;
}

.post-reblog-item > *:last-child {
    margin-block-end: 20px;
}

.post-caption > *:first-child {
	margin-block-start: 20px !important;
}

/* Text Posts */

.post-reblog-item, .post-caption { 
    line-height: 1.6em; 
}

.post-caption { 
    padding: 0 30px 5px; 
}

p.tmblr-attribution { 
    display: none !important; 
}

/* Post Headers */

article h1, article h2 {
    font-weight: 400;
    margin: .75em 0;
    line-height: 1.3;
}

h2.post-title { 
    font-size: 1.75em; 
    font-weight: 700;
    padding: 20px 30px 0;
    margin: 0 0 -0.5rem 0;
    line-height: 140%;
}

.post-reblog-item h1, .post-reblog-item h2, .post-caption h1, .post-caption h2 {
    line-height: 140%;
    margin: .75em 0;
}

.post-reblog-item h1, .post-caption h1 {
	font-size: 1.625rem;
}

.post-reblog-item h2, .post-caption h2 {
    font-size: 1.25rem;
}

article.post.alert h2.post-title {
    padding: 30px;
	font-size: 1.625rem;
}

/* Blockquotes */

.post-reblog-list blockquote, .post-caption blockquote {
    border-left: 2px var(--a2) solid;
    margin: 1em 0 1em 20px;
    padding-left: 20px;
}

/* Media Posts */

article.post img { 
    max-width: 100%;  
    height: auto; 
}

.image-container img, figure.tmblr-full img {
    width: 100%;
}

figure.tmblr-full {
    line-height: 0;
    cursor: pointer;
    margin-left: -30px;
    margin-right: -30px;
}

.post-content div.npf_row, .post div.npf_row, body div.npf_row {
    margin-left: -30px;
    margin-right: -30px;
}

/* Answer Posts */

#question { 
    margin-bottom: 0; 
}

#answer { 
    margin-top: 30px; 
}

.ask-content {
    position: relative;
    background: var(--bg2);
    margin: 30px 122px 30px 30px;
    padding: 30px;
    border-radius: 6px;
}

div.ask-body > *,
div.ask-content > *:not(div.ask-body) {
    margin-bottom: 0;
}

div.ask-content > p:empty {
    display: none;
}

p.asker { 
    color: var(--gray); 
    margin-bottom: 1em !important;
    margin-top: 0; 
}

.ask-content:after {
    content: '';
    position: absolute;
    right: -24px;
    top: 22px;
    height: 0;
    width: 0;
    border: 12px solid transparent;
    border-left-color: var(--bg2);
}

img.ask-avatar {
    float: right;
    top: 0;
    margin-right: 30px;
    border-radius: 6px;
    width: 64px;
    height: 64px;
}

.post-answer .post-reblog-list > .post-reblog-item:first-child {
    border-top: 1px var(--gray) solid;
    margin-top: 30px;
    padding-top: 30px;
}

/* Post Footer */

.post-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: calc (100% - 60px);
    padding: 20px 30px;
    position: relative;
    line-height: 1em;
    border-top: 1px var(--bg2) solid;
}

.post-tags a {
    word-wrap: break-word;
    margin-right: 10px;
    font-size: 0.875em;
    color: var(--gray);
    font-weight: 400;
    line-height: 1.5em;
}

.post-tags a svg {
    font-size: 0.875em;
    margin-right: 2px;
}

.post-controls {
    margin-left: 10px;
    flex-shrink: 0;
}

.post-controls a {
    display: inline-block;
    font-size: 1.125em;
    color: var(--gray);
    margin-left: 20px;
}

.post-controls a svg path {
    stroke-width: 10px;
    stroke-miterlimit: 10;
    stroke: var(--gray);
}

/* Pagination */

.pagination {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.prev:not(:link), 
.next:not(:link) {
    visibility: hidden;
}

/* SCREEN SIZE */

@media (max-width: 1480px) {
    article {
        width: 540px;
    }
}

@media (max-width: 1280px) {
    .sidebar {
        display: none;
    }
    article {
        width: 100%;
        max-width: 700px;
    }
}

@media (max-width: 780px) {
    section#posts {
        padding: 0;
    }
    .posts {
        margin: 0;
    }
    article {
        margin-top: var(--pad2);
        margin-bottom: 0;
        border-radius: 0;
    }
    .post-date-notes span {
        display: none;
    }
    .pagination {
        padding: var(--pad2);
    }
}
